#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	importItems: 5000
	cities: %appDir%\modules\travelport-module\Resources\imports\searchindexcities.json
	airports: %appDir%\modules\travelport-module\Resources\imports\searchindexairports.json
	countries: %appDir%\modules\travelport-module\Resources\imports\searchindexcountries.json

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

services:
	- App\RouterFactory
	- CmsModule\TravelService\RequestFormMapper
	- TravelPortModule\Air\LowFareSearchReq
	- TravelPortModule\Managers\PaymentManager(@payu.default)
	router: @App\RouterFactory::createRouter

	managers.AirClientManager: TravelPortModule\Managers\AirClientManager(%airClientManager.options%)
	managers.LocationManager: TravelPortModule\Managers\LocationManager(@doctrine.dao(TravelPortModule\Entities\AirportEntity), @doctrine.dao(TravelPortModule\Entities\AirportLangEntity))

	forms.availabilitySearchForm:
		implement: AppModule\Forms\IAvailabilitySearchFormFactory
		setup:
			- create

	forms.lowFareSearchForm:
		implement: AppModule\Forms\ILowFareSearchFormFactory
		setup:
			- injectLocationManager(@managers.LocationManager)
			- create
			- bootstrap3Render

	cacheStorage:
		class: Nette\Caching\Storages\MemoryStorage

	generateXsdCommand:
		class: TravelPortModule\Tools\Console\Command\GenerateCommand
		tags: [kdyby.console.command]

	importAirPortsCommand:
		class: TravelPortModule\Tools\Console\Command\ImportAirPortsCommand
		tags: [kdyby.console.command]

	importCountriesCommand:
		class: TravelPortModule\Tools\Console\Command\ImportCountriesCommand
		tags: [kdyby.console.command]

	importCitiesCommand:
		class: TravelPortModule\Tools\Console\Command\ImportCitiesCommand
		tags: [kdyby.console.command]

	validateSchemaCommand:
		class: TravelPortModule\Tools\Console\Command\ValidateSchemaCommand
		tags: [kdyby.console.command]

extensions:
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	payu: HostBox\Bridge\PayU\Extension
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
