<div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
	<div class="list-group">
		<a n:href="clearCache!" class="list-group-item">Smazat cache</a>
		<a n:href="Homepage:" class="list-group-item active">Hledání letů s cenou v přehledu</a>
		{*<a n:href="Shop:" class="list-group-item">Payment test</a>*}
	</div>
</div>
